@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: open-sans, sans-serif;
  margin: 0;
  max-width: 960px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

:root {
  --color-red: #f03c42;
  --bg-blue: #222374;
  --color-light-grey: #cccccc;
  --color-white: #ffffff;
  --color-black: #000000;
}

nav {
  background-color: #f03c42;
  color: #ffffff;
  height: 100px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-content a {
  padding: 10px;
}

#place {
  background-color: #222374;
  color: #ffffff;
  height: 418px;
  padding: 20px 120px 40px 120px;
}

.container-card {
  background-color: #cccccc;
  color: #000000;
  height: 127px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

#modalities {
  background-color: #ffffff;
  height: 880px;
  padding: 20px 120px 40px 120px;
}

#modalities h2 {
  color: #f03c42;
}

.description-card {
  background-color: #222374;
  color: #cccccc;
  height: 106px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

.description-card h3 {
  color: #ffffff;
}

footer {
  background-color: #000000;
  color: #ffffff;
  height: 260px;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links-container {
  display: flex;
  align-items: center;
}

.footer-links-container a {
  padding: 10px;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 60px 0;
}
